body{
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather'sans-serif;
}
h1{
    font-size: 5.625rem; /*100%=16px*/
    margin: 50 auto 0 auto;
    font-family: 'Sacramento', cursive; 
    color: #66BFBF;
    line-height: 3;
}
h2{
        font-family: 'Montserrat', sans-serif;
        font-size: 2rem;
        color: #66BFBF;
        font-weight: normal;
}
h3{
        font-family: 'Montserrat', sans-serif;
        color: #11999E;

}

.top_container {
    background-color: #CCF3EE;
    position: relative;
    margin: 0px;
    padding-top: 100px;
}
.middle_container{
    
    height: 200px;
    width: 200px;
}
.bottom_container{
    background-color: blue  ;
    height: 200px;
    width: 200px;
}
.dev{
    text-decoration: underline;
}
.bottom_cloud{

    position: absolute;
    right: 300px;
}
.top_cloud{
    position: absolute;
    top: 50px;
    left: 300px ;
}
.icon{
    margin: auto 30px 30px auto;
    height: 60px;
    float: left;

}
.WebD{
    height: 60px;
    float: right;
    margin: auto auto 30px 30px;
}
a{
    color: #11999E;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto; 
    text-align: left;
    line-height: 2;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  .footer-link{
    color: #11999E;
  }
.dottedline{
    border: none; border-top: 10px dotted #EAF6F6;
    width: 10%;

  }
.bgcolor{
    background-color: #ceffe8fc;
}